[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
seaborn = "*"
missingno = "*"

[requires]
python_version = "3.8"
